html,
body {
    font-family: "微软雅黑", sans-serif;
    height: 100%;
    width: 100%;
    overflow: hidden;
    user-select: none;
}

#map-2d {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
#body-background-image{
    background:#0f074a;
}

.ol-mouse-position {
    bottom: 8px !important;
    top: -1;
    right: 8px;
    color: red;
    position: absolute;
}

.layer-switcher {
    position: absolute;
    top: 6.5em;
    right: 0.5em;
    text-align: left;
    background-color: gray;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ol-control.ol-layerswitcher {
    background-color: transparent;
    position: absolute;
    right: 0.5em;
    text-align: left;
    top: 6em;
    max-height: calc(100% - 6em);
    box-sizing: border-box;
    overflow: hidden;
    /*box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);*/
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.ol-layerswitcher-popup
{   list-style: none;
    padding: 0.25em;
    margin:0;
    color:black;
    overflow: hidden;
}

.ol-layerswitcher .panel{
    overflow: auto;
}


#model-tree-main{
	position: fixed;
	left: 24px;
    top: 81px;
	z-index: 4;
    outline: 0px solid #ff0000;
    background-color: black;
    opacity: 0.75;
}
#model-tree-main #model-attribute-box{
	display: block;
}
.model-windows .model-header .page-title .t-datetime{
	float: left;
	width: 150px;
}
.model-attribute-box .one-line > a{
	text-decoration: none;
}
.model-attribute-box .one-line a.action {
	background: transparent;
}
.model-attribute-box .one-line ul a{
	display: inline-block!important;
	position: relative;
	cursor:pointer;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.model-attribute-box .one-line ul a{
	font-size: inherit;
	height: 21px;
	line-height: 21px;
	padding: 0;
}
.ztree li a.curSelectedNode {background-color:transparent;
	color: red;
}


.search {
    width: 250px;
    position: relative;
}
.search .search-input {
    box-sizing: border-box;
    border: 0;
    padding: 9px 0;
    border-left: 10px solid transparent;
    border-right: 27px solid transparent;
    line-height: 20px;
    font-size: 16px;
    height: 30px;
    color: #fff;
    width: 100%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.3);
}
.search .input-clear {
    cursor: pointer;
    position: absolute;
    width: 27px;
    height: 30px;
    top: -4px;
    right: 0;
    background: url(images/searchbox_f175577.png) no-repeat 0 -114px;
    display: none;
}
.ui3-suggest-wrap {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #E4E6E7;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .15);
    border-radius: 0 0 2px 2px;
    z-index: 999;
    width: 100%;
    overflow:auto;
    display: none;
}
#diy-scrollbar-model-attribute-box{
    width: auto;
}
#ui3-suggest-scroll {
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
}
#ui3-suggest-scroll li{
    line-height: 25px;
}
#ui3-suggest-scroll li:hover{
    background-color: rgba(35, 119, 227, 0.8);
    cursor: pointer;
}
* {
        scrollbar-base-color: #ccc;
        scrollbar-3dlight-color: #ccc;
        scrollbar-highlight-color: #ccc;
        scrollbar-track-color: #f1f1f1;
        scrollbar-arrow-color: #000;
        scrollbar-shadow-color: #ccc;
        scrollbar-darkshadow-color: #ccc
    }
::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

::-webkit-scrollbar-button {
    height: 0;
    width: 0
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

::-webkit-input-placeholder {
    color: #aaa;
    font-size: 14px
}

::-moz-placeholder {
    color: #aaa;
    font-size: 14px
}

:-ms-input-placeholder {
    color: #aaa;
    font-size: 14px
}
.ztree{
    overflow: auto;
}

.tool-ul {
    position: absolute;
    width: 87px;
    background: #fff;
    top: 34px;
    left: 0;
    box-shadow: 1px 2px 1px rgba(0,0,0,.15)
}

.tool-li,.tool-ul {
    padding: 0;
    margin: 0
}

.tool-li {
    width: 100%;
    display: block
}

.tool-li:not(:last-child) {
    border-bottom: 1px solid #ddd
}

.tool-item {
    display: block
}

.tool-item .com-icon {
    margin-left: 15px;
    margin-top: 5px
}

.tool-item .tool-text {
    margin-left: 4px;
    line-height: 24px;
    height: 24px
}

.tool-item:hover .tool-text {
    color: #2f87eb
}

.toolcl {
    background-image: url(../images/tool_distance.png);
}
.toolca {
    background-image: url(../images/tool_area.png);
}

.toolch {
    background-image: url(../images/tool_height.png);
}
.toolcircle {
    background-image: url(../images/circle.png);
}
.toolpoly {
    background-image: url(../images/polygon.png);
}

.toolline {
    background-image: url(../images/line.png);
}

/*.tool-item:hover .toolcl {
    background-position: -434px 0
}*/

.toolcm {
    background-position: -324px 0
}

.tool-item:hover .toolcm {
    background-position: -463px 0
}

.toolbd {
    background-position: -41px -25px
}

.tool-item:hover .toolbd {
    background-position: -115px -25px
}

.toolbx {
    background-position: -65px -26px
}

.tool-item:hover .toolbx {
    background-position: -139px -26px
}

.toolbm {
    background-position: -91px -26px
}

.tool-item:hover .toolbm {
    background-position: -165px -26px
}

.tooldy {
    background-position: -355px 0
}

.tool-item:hover .tooldy {
    background-position: -494px 0
}

.tooldsx {
    background-position: -385px 0
}

.tool-item:hover .tooldsx {
    background-position: -524px 0
}

.toolty {
    background-position: -414px 0
}

.tool-item:hover .toolty {
    background-position: -553px 0
}
.tool-item-box {
    position: relative;
    height: 30px;
    cursor: pointer;
}


.tool-container {
    z-index: 10;
    float: left;
    background: #fff;
}
.t-item {
    padding: 0 15px;
    position: relative;
    float: left;
    color: #000;
}

.t-item>a {
    overflow: hidden;
    display: block;
    color: #000;
}

.t-item:not(:last-child):after {
    content: "";
    display: block;
    visibility: visible;
    width: 1px;
    height: 21px;
    background: #eee;
    position: absolute;
    top: 7px;
    right: -1px
}
.t-item>.active,.t-item>.active .tool-text {
    color: #2f87eb
}

.t-item>.active .triangle {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.triangle {
    width: 11px;
    height: 6px;
    background-image: url(../images/icon.5b1744f.png);
    background-repeat: no-repeat;
    background-position: -339px -222px;
    -webkit-transition: .3s;
    transition: .3s
}

.tool-container-triangle {
    margin-left: 5px;
    float: left;
    margin-top: 13px
}

.tool-box {
    position: relative
}

.com-icon {
    display: inline-block;
    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 16px;
    height: 16px
}

.tool-icon {
    float: left;
    margin-right: 6px;
    margin-top: 10px
}

.share-icon {
    background-position: -108px 0
}

.location_icon {
    background-position: -297px -215px
}

.feature_icon {
    background-position: -265px -264px
}

.clear-icon {
    background-position: -138px 0
}

.fullscreen-icon {
    background-position: -164px 0
}

.tool-text {
    float: left;
    font-size: 12px;
    font-style: normal;
    color: #333
}

.city-change-inner,.tool-text {
    height: 34px;
    line-height: 34px;
    display: inline-block
}

.city-change-inner {
    background-color: #fff;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    position: relative
}

.city-change-inner,.city-change-inner span {
    float: left;
    font-size: 12px
}

.slide-citybox-enter-active,.slide-citybox-leave {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 391px
}

.slide-citybox-leave-active {
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    height: 0;
    opacity: 0
}

.slide-citybox-enter,.slide-citybox-leave-active {
    opacity: 0;
    height: 0
}
.tool-box {
    position: relative
}

.city-change-inner,.tool-text {
    height: 34px;
    line-height: 34px;
    display: inline-block
}

.city-change-inner {
    background-color: #fff;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    position: relative
}

.city-change-inner,.city-change-inner span {
    float: left;
    font-size: 12px
}

.city-box{
    overflow:hidden;width:380px;background:#fff;
    position:absolute;
    top:38px;
    left:280px;
    z-index:1001;cursor:auto;font-size:12px;font-family:microsoft yahei,arial,tahoma,helvetica,sans-serif;box-shadow:1px 2px 1px rgba(0,0,0,.15)
}
.city_close{
    float:right;width:14px;
    height:14px;cursor:pointer;position:absolute;top:10px;right:10px;background-position:-426px -28px;
    background-image: url(images/icon.5b1744f.png);
    background-size: auto;
}
.city-box-inner{padding:10px}
.sort-choose-2{
    margin-top:10px;text-align:left;
    display: none;
}
.sort-choose-2.hover{
    display: block;
}
.sort-choose-2 a{text-align:center;font-size:14px;line-height:29px;height:29px;padding-left:15px;padding-right:15px;float:left;color:#333;text-decoration:none;cursor:pointer;border:1px solid #e6e6e6;background-color:#e6e6e6;position:relative;bottom:-1px}
.sort-choose-2 .hover{background-color:#fff;border:1px solid #e6e6e6;border-bottom-color:#fff}
.sort-choose-2.nav-bar{border-bottom:1px solid #e6e6e6}.sort-choose-1{margin-top:10px}


.sort-choose-1 a{position:relative;text-align:center;display:inline-block;color:#333;line-height:29px;height:29px;padding-left:7px;padding-right:7px;font-size:14px;text-decoration:none}
.sort-choose-1.nav-bar{border-bottom:2px solid #e5e5e5}.sort-choose-1 .hover:after{background:url(images/icon.5b1744f.png) no-repeat -477px -32px;width:11px;height:6px;content:"";display:block;position:absolute;bottom:0;left:50%;margin-left:-5px}

.def_city_con{border-bottom:1px solid #b5b5b5;padding-bottom:10px}
.def_city_con a{color:#5497de;cursor:pointer}
.def_city_con a,.def_city_con a:hover{text-decoration:underline}
.def_city_btn{margin-left:15px}
.hot_city{margin-top:10px}
.city_list_province{width:100%;overflow-y:hidden}
.city_list_province_line{display:block;clear:both}
.city_list_province_name{width:40px;float:left;display:block;line-height:32px;padding-left:15px;cursor:pointer;font-weight:700;color:#5497de}
.city_list_province_right{height:auto;line-height:22px;margin-top:5px;margin-left:60px;margin-right:5px}
.city_list_province_right a,.hot_city a{cursor:pointer;color:#666;text-decoration:none;margin-right:6px;display:inline-block}
.city_list_province_right a:hover,.hot_city a:hover{color:#5497de;text-decoration:underline}
.city_list_province_header{margin-top:5px;width:42px;float:left;display:block;line-height:22px;padding-left:15px}
.city_list_provin{cursor:pointer;padding-left:9px;color:#666;font-weight:700}
.city_list_py{font-size:20px;margin-top:8px;color:#666}
.city_list_header{line-height:24px;word-wrap:break-word;padding-left:15px;padding-right:15px}
.city_list_header a{text-decoration:none;font-size:12px;color:#5193e8;margin-right:6px;cursor:pointer;padding:0 5px}
.city_list_header a:hover{background:#eee}



.city_switch_search{position:relative;margin-top:10px}
.city_switch_search input{box-sizing:border-box;border:1px solid #b5b5b5;width:100%;height:31px;padding:5px 64px 5px 5px;outline:none}
.searchul{position:absolute;background:#fff;z-index:5;top:31px;left:0;width:100%}
.searchul_inner{margin-right:59px;border:1px solid #b5b5b5;border-top:none}
.searchul a{display:block;line-height:30px;padding-left:10px;text-decoration:none;color:#333}
.searchul a.active,.searchul a:hover{background:#f2f2f2}.syn_bom{background:#5193e8;width:59px;height:31px;float:left;border:none;cursor:pointer;position:absolute;right:0;top:0;text-align:center}
.searchBtn{
    background-image: url(images/icon.5b1744f.png);
    margin-top:7px;width:19px;height:19px;display:inline-block;background-position:-450px -26px
}
.none_search{background:#ffebeb;padding:7px}

#data_class_wrapper .item{
    display:none
}

#data_class_wrapper .hover{
    display:block
}

.ps_container{
    height: 220px; width: auto;overflow: auto;  
}

.city-change-inner {
    background-color: #fff;
    color: #666;
    text-decoration: none;
    vertical-align: middle;
    position: relative
}

.city-change-inner,.city-change-inner span {
    float: left;
    font-size: 12px
}

.city_switch_search{position:relative;margin-top:10px}
.city_switch_search input{box-sizing:border-box;border:1px solid #b5b5b5;width:100%;height:31px;padding:5px 64px 5px 5px;outline:none}
.searchul{position:absolute;background:#fff;z-index:5;top:31px;left:0;width:100%}
.searchul_inner{margin-right:59px;border:1px solid #b5b5b5;border-top:none}
.searchul a{display:block;line-height:30px;padding-left:10px;text-decoration:none;color:#333}
.searchul a.active,.searchul a:hover{background:#f2f2f2}
.syn_bom{background:#5193e8;width:59px;height:31px;float:left;border:none;cursor:pointer;position:absolute;right:0;top:0;text-align:center}
.none_search{background:#ffebeb;padding:7px}
.ol-popup.default{
    color: #000;
}


#search .search_content {
    position: relative;
    border: 1px solid #b8b8b8;
    background-color: #fff;
}

#search .search_btn,#search .search_content,#search {
    float: left
}

#search {
    line-height: 34px;
    /* position: absolute; */
    /* right: 284px; */
    /* top: 83px; */
    z-index: 10;
    background-color: #fff;
    color: #000;
    margin-right: 4px;
}
#search .clear_keyword {
    background: url(images/icon.5b1744f.png);
    background-repeat: no-repeat;
    background-position: -426px -28px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    right: 6px;
    top: 9px;
    display: none;
}

#search .search_content input {
    width: 204px;
    outline: none;
    border: none;
    margin-left: 10px;
    margin-right: 22px;
    line-height:28px;
}
#search .search_btn {
    height: 36px;
    border: 1px solid #b8b8b8;
    border-left: 0;
    width: 40px;
    cursor: pointer
}

#search .search_btn i {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-image: url(images/icon.5b1744f.png);
    background-repeat: no-repeat;
    background-position: -2px -327px;
    margin-left: 12px;
    margin-top: 10px;
    float: left
}


.floorList {
    left: -300px;
    bottom: 50px;
    width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: absolute;
}

.unselect {
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px;
    overflow: hidden;
    border-radius: 3px;
    margin: 1px 0px;
    color: black;
}
.selected{
    background-color:#f51a87;
    width: 26px;
    height: 26px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    line-height: 26px;
    box-shadow: rgba(0, 0, 0, 0.15) 1px 2px 1px;
    overflow: hidden;
    border-radius: 3px;
    margin: 1px 0px;
    color: black;
}
.mode-dis{
    position: absolute;
    right: 6px;
    top: 200px;
    z-index: 10;
    width: 113px;
}
.mode-dis button{
    border: 1px solid #C9C9C9;
    background-color: #fff;
    color: #555;
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-top: 3px;
}
.mode-dis button:hover,.mode-dis button.active{
    color: #2377E3;
}